@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('☺'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype'), url('../fonts/Gilroy-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Lato', sans-serif; */

body{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 21px;
    
}
*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    /* background-color: coral; */
}

.header{
    text-align: center;
    padding-bottom: 68px;
    position: relative;
    background: linear-gradient(to right, #320B61, rgba(50, 11, 97, 0.8));
    background: url(../img/header/фиолфон.png),url(../img/header/fon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* display: none; */
}
.background{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    opacity: 0.4;

}
.background img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
      
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
    padding-top: 26px;
}
.header__logo{
    margin-right: 15px;
}
.header__text{
    width: 837px;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    text-align: center;
    color: #FFFFFF;
}

.title{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.title span{
    color: #FCE558;
} 
.line{
    margin: 0 auto;
    width: 84px;
    border-bottom: 2px solid #FAD264 ;
    text-align: center;
    margin-top: 24px;
}
.header__subheading{
    margin: 0 auto;
    margin-top: 26px;
    width: 730px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.header__subheading span{
    text-transform: uppercase;
    font-weight: 700;
}
.header__row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header__item{
    position: relative;
    width: 30%;
    /* width: 285px; */
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 33px;
    margin-top: 41px;
}
.header__item:last-child{
    margin-right: 0px;
}
.header__icon{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-30px);
    display: inline-block;
    background-image: url(../img/header/Ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #FAD264; */
    border-radius: 50%;
    padding: 9.78px 9.08px;
}
.header__description{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 25px 35px;
    
    
}
.header__date{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
    margin-bottom: 52px;
}

.header__date-icon{
    margin-right: 23px;
}

.header__date-text{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color:  #FFFFFF;
   
}
.header__date-text span{
    color: #FCE559;
    /* border-right: 4px solid rgb(240, 240, 240);
    padding-right: 10px; */
}

.header__inner{
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
}
.header__button-left{
    display: block;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 30px;
    width: 254px;
    padding: 20px 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
}
.header__button-right{
    display: block;
    color: #000000;
    border-radius: 30px;
    width: 254px;
    padding: 20px 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.header__button-left:hover{
    transition: 0.5s;
    transition-duration: 1s;
    background: #FCE558;
}
.header__button-right:hover{
    transition: 1s;
    background: #ffff;
}

.header__agreement{
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 47px;
}

.header__test{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__test-logo{
    margin-right: 14px;
}
.header__test-text{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    width: 468px;
}
.header__mouse{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(30px);
}
.header__sphere--left{
    position: absolute;
    transform: translate(0px, -276px);
}

.header__sphere--right{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-140px, -60px);
}
/* Programm */
.programm{
    padding-top: 89px;
    /* display: none; */
}
.subheading{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #320B61;
}
#purple{
    margin: 0 auto;
    width: 70px;
    border: 2px solid #E130E3;
    text-align: center;
    margin-top: 30px;
}
.programm__discription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}
.programm__discription--left{
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #42196D;
    background-color:  #FAD264;
    width: 30%;
    height: 89px;
    padding-left: 15px;
}
.programm__discription--right{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color:  #FFFFFF;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    background: #320B61;
    width: 70%;
    height: 89px;
    padding-left: 100px;
}

.programm__row{
    display: flex;
    justify-content: flex-end;
    padding-top: 42px;
    padding-bottom: 25px;
    margin-bottom: 45px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.programm__img img{
    max-width: 100%;
    height: auto;
}
.programm__inner{
    width: 70%;
    padding-left: 30px;
    padding-right: 15px;

}
.programm__item{
    display: flex;
    margin-bottom: 20px;
}
.programm__icon{
    margin-right: 16px;
}
.programm__text{
    font-size: 18px;
    line-height: 21px;
    color: #29242C;
}
.programm__text span{
    font-weight: 700;
}
.programm__result{
    color:  #29242C;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.programm__list{
    margin: 0;
    padding-left: 17px;
}
.programm__list span{
    font-size: 18px;
    line-height: 21px;
    color: #29242C;
}
.programm__list li{
    color: #42196D;
}
.programm__list--text{
   margin-bottom: 10px;
}
/* Knowledge */
.knowledge{
    background-color: #42196D;
    padding-top: 82px;
    padding-bottom: 94px;
    /* display: none; */
}
#yellow{
    color: #FAD264;
    margin-bottom: 39px;
}
#white{
    border: 2px solid #FFFFFF;
    width: 70px;
}
.knowledge__row{
    display: flex;
    justify-content: center;
    margin-top: 6px;
    flex-wrap: wrap;
    gap: 30px;
    
}
.knowledge__item{
    /* width: 349px; */
    width: 30%;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0 0 40px 40px;
    position: relative;
    margin-bottom: 55px;
}
.knowledge__item:last-child{
    margin-right: 0;
}
.knowledge__img img{
    max-width: 100%;
    height: auto;
}
.knowledge__main{
    margin: 35px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #292841;
}
.knowledge__description{
    color: #292841;
    margin-bottom: 45px;
    
}
.knowledge__icon{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(20px);
}

.knowledge__wrapper{
    display: flex;
    justify-content: center;
}
.knowledge__blok{
    width: 33.33333%;
    color: #FFFFFF;
    line-height: 21px;
    margin-right: 34px;
}
.knowledge__blok:last-child{
    margin-right: 0;
}
.knowledge__text{
    margin-bottom: 17px;
    text-align: center;

}
.knowledge__inner{
    display: flex;
    margin-bottom: 21px;
}
.knowledge__chek{
    margin-right: 14PX;
}

/* Strong */
.strong{
    padding: 80px 0;
    background-color: #F7F7F7;
    position: relative;
    /* display: none; */
}
.strong__vector{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-325px, 34px);
}
.strong__title{
    margin-top: 29px;
    margin-bottom: 69px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: rgba(0, 0, 0, 0.8);
}
.strong__img{
    position: absolute;
    top: 0;
}
/* .strong__img img{
    max-width: 100%;
    height: auto;
} */
.strong__number{
    position: absolute;
    top: 0;
    
}
#number-1{
    z-index: 5;
    transform: translate(119px, 40px);
    
}
#number-2{
    z-index: 4;
    transform: translate(133px, 40px);
}
#number-3{
    z-index: 3;
    transform: translate(125px, 40px);
}
#number-4{
    z-index: 2;
    transform: translate(118px, 40px);
}

#number-5{
    z-index: 1;
    transform: translate(80px, 40px);
}

    
#blok-1 {
    z-index: 5;
    transform: translateX(44px);
}
#blok-2 {
    z-index: 4;
    transform: translateX(30px);
}
#blok-3 {
    z-index: 3;
    transform: translateX(15px);
}

#blok-4 {
    z-index: 2;
    
}

#blok-5 {
    z-index: 1;
    transform: translate(-62px, 9px);
}

.strong__inner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.strong__item{
    width: 20%;
}
.strong__text{
    padding: 0px 47px;
    margin-top: 149px;
    line-height: 26px;
    /* or 144% */
    color: #060606;
    font-family: 'Mulish', sans-serif;
}
.strong__text span{
    font-weight: 700;
}
/* Practical */
.practical{
    padding-top: 80px;
    padding-bottom: 120px;
    /* display: none; */
}
.practical__blok{
    display: block;
    background-color: #C4C4C4;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 25px 0;
    
}
#after{
    background-color: #42196D;
    color: #FAD264;
}

.practical__row{
    display: flex;
    justify-content: center;
    margin-top: 63px;
    margin-bottom: 75px;
}
.practical__left,.practical__right{
    width: 50%;
}
.practical__item{
    text-align: center;
    margin-bottom: 50px;
    padding: 0 15px;
}
.practical__item:last-child{
    margin-bottom: 0;
}
.practical__img{
    width: 100%;
    margin-bottom: 48px;
}
.practical__img img{
    max-width: 100%;
    height: auto;
}
.practical__text{
    font-size: 18px;
    line-height: 21px;
    color: #292841;
}
.practical__text span{
    font-weight: 700;
    line-height: 22px;
}

.practical__button{
    display: block;
    background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
    color: #000000;
    border-radius: 30px;
    width: 350px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.practical__button:hover{
    transition: 0.8s;
    background: #42196D;
    color: #FAD264;
}

/* Author */
.author{
    position: relative;
    padding-top: 80px;
    padding-bottom: 106px;
    background-color:  #F7F7F7;
    /* display: none; */
}
.author__subheading{
    margin-top: 43px;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.author__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 36px;
}
.author__photo{
    margin-right: 30px;
}
.author__photo img{
    max-width: 100%;
    height: auto;
}
.author__item{
    display: flex;
    margin-bottom: 18px;
}
.author__item:last-child{
    margin-bottom: 0;
}
.author__icon{
    margin-right: 11px;
}
.author__text{
    color: #29242C;
}

/* Contact */
.contact{
    padding-top: 130px;
    padding-bottom: 119px;
    background: url(../img/contact/contact.png), rgba(66, 25, 109, 0.9);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #42196D;
    /* display: none; */
    
}
#contact{
    text-align: start;
}
.contact__row{
    display: flex;
    justify-content: center;
}
.contact__left{
    width: 60.83333%;
}
.contact__text{
    margin-top: 23px;
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    /* or 26px */
    color: #FFFFFF;
}
.contact__item{
    margin-bottom: 40px;
    display: flex;
    align-items: center;

}
.contact__item:last-child{
    margin-bottom: 0;
}
.contact__icon{
    margin-right: 18px;
}
.contact__description{
    line-height: 130%;
    /* or 23px */
    color: #FFFFFF;
}
.contact__word{
    color: #FAD264;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-left: 70px;
}
.form{
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    width: 350px;
    margin-left: 30px;
    text-align: center;
}
.attention{
    margin-top: 32px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */
    color: #FFFFFF;
}
.form__name input{
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 23px 23px;
    text-align: center;
    font-size: 20px;
    color:#000000;
    text-transform: uppercase;
    margin-bottom: 20px;
    outline: none;
    border: none;
}
.form__email input{
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 23px 23px;
    font-size: 20px;
    color:#000000;
    text-transform: uppercase;
    margin-bottom: 30px;
    outline: none;
    border: none;
    text-align: center;
}
.form__button{
    background-color: #F7C847;
    box-shadow: 0px 10px 40px rgba(255, 223, 135, 0.5);
    color:#000000;
    border-radius: 30px;
    display: block;
    padding: 23px 78px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    border: none;
    margin: 0 auto;
    margin-bottom: 26px; 
}
.form__button:hover{
    background-color: #e6b121;
    transition: 0.5s;
    color: #FFFFFF;
}
.agreement{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 23px;
    padding: 0px 63px;
}
/* Footer */
.footer{
    padding-top: 90px;
    padding-bottom: 42px;
    background: linear-gradient(0deg, #320C5A, #320C5A);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #F4F9FF;
}
.footer p{
    margin: 0;
}
.footer__row{
   display: flex;
   align-items: center; 
   justify-content: space-between;
}
.footer__support{
    font-weight: 700;
    width: 33.33333%;
    padding-left: 44px;
}

.support{
    text-transform: uppercase;
}
.footer__contact{
    width: 33.33333%;
    position: relative;
}
.footer__contact p{
    margin-bottom: 5px;
}
.footer__contact p:last-child{
    margin-top: 10px;
    margin-bottom: 0;
}
.footer__line{
    position: absolute;
    left: -108px;
    top: 30px;
    border: 1px solid #F6F6F6;
    width: 148px;
    transform: rotate(90deg);
}

.footer__address{
    width: 33.33333%;
    text-align: right;
    position: relative;
}
.footer__icon{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-68px);
}
.footer__address p{
    margin-bottom: 5px;
}
.footer__address p:last-child{
    margin-bottom: 0;
}

/* Адаптивность */

@media (max-width:1200px) {
    body{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}
@media (max-width:1165px){
    .practical__row{
        flex-direction: column;
    }
    .practical__blok{
        margin-right: 0;
        margin: 0 auto;
    }
    .practical__item{
        margin-top: 35px;
    }
    .practical__left,.practical__right{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width:1024px) {
    .strong__inner{
        flex-direction: column;
    }
    .strong__item{
        width: 100%;
    }
    #number-1{
        z-index: 5;
        transform: translate(92px, 40px);
        
    }
    #number-2{
        transform: translate(92px, 235px);
    }
    #number-3{
        z-index: 3;
        transform: translate(92px, 455px);
    }
    #number-4{
        z-index: 2;
        transform: translate(92px, 675px);
    }
    
    #number-5{
        z-index: 1;
        transform: translate(92px, 886px);
    }
    
        
    #blok-1 {
        transform: none;
    }
    #blok-2 {
        transform: none;
    }
    #blok-3 {
        transform: none;
    }
    #blok-5 {
        transform: none;
    }
    .strong__img{
        position: static;
    }
    .strong__text{
        margin-top: 10px;
        padding: 0;
    }

}
@media (max-width:992px) {
    .header__wrapper{
        flex-direction: column;
    }
    .header__text{
        width: auto;
    }
    .title{
        font-size: 36px;
    }
    .header__subheading{
        width: auto;
    }
    .header__sphere--right{
        display: none;
    }
    .header__mouse{
        display: none;
    }
    .programm__discription--right{
        padding-left: 65px;
    }
    .knowledge__wrapper{
        flex-wrap: wrap;
    } 
    .strong__vector{
        display: none;
    }
    
}
@media (max-width:768px) {
    .header__item{
        width: 40%;
    }
    .programm__discription--left{
        font-size: 17px;
        width: auto;
        padding: 0 10px;
    }
    .programm__discription--right{
        font-size: 17px;
        width: auto;
        padding: 0 40px;
    }
    .programm__row{
        flex-direction: column;
    }
    .programm__discription{
        flex-direction: column;
    }
    .programm__img{
        text-align: center;
    }
    .programm__inner{
        width: 100%;
    }
    .knowledge__item{
        width: 40%;
    }
    .knowledge__wrapper{
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    } 
    .knowledge__blok{
        width: 100%;
    }
    .author__row{
        flex-direction: column;
    }
    .author__wrapper{
        margin-top: 30px;
    }
    .contact__row{
        flex-direction: column;
    }
    .contact__left{
        width: 100%;
        margin-bottom: 30px;
    }
    .form{
        margin: 0 auto;
    }
    .footer__row{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__icon{
        display: none;
    }
    .footer__line{
        display: none;
    }
    .footer__support, .footer__contact{
        width: 50%;
    }
    .footer__address{
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
}
@media (max-width:480px) {
    .title{
        font-size: 30px;
    }
    .header__item{
        width: 75%;
        margin-right: 0;
    }
    .header__inner{
        flex-wrap: wrap;
    }
    .header__button-left{
        margin-right: 0;
        margin-bottom: 26px;
    }
    .header__sphere--left{
        display: none;
    }
    .knowledge__item{
        margin-right: 0;
        width: 75%;
    }
    #number-2{
        transform: translate(92px, 264px);
    }
    #number-3{
        z-index: 3;
        transform: translate(92px, 507px);
    }
    #number-4{
        z-index: 2;
        transform: translate(92px, 728px);
    }
    
    #number-5{
        z-index: 1;
        transform: translate(92px, 965px);
    }
    .practical__button{
        width: 230px;
    }
    .footer__row{
        flex-direction: column;
    }
    .footer__support, .footer__contact{
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .footer__support{
        margin-bottom: 10px;
    }
    
}
@media (max-width:375px) {
    .title{
        font-size: 26px;
        line-height: 39px;
    }
    #number-4{
        z-index: 2;
        transform: translate(92px, 754px);
    }
    
    #number-5{
        z-index: 1;
        transform: translate(92px, 1020px);
    }
    .form{
        width: 100%;
    }
}
@media (max-width:320px) {
    .header__item{
        margin-top: 56px;
    }
    .header__wrapper{
        margin-bottom: 37px;
    }
    .header__logo{
        margin-right: 0;
    }
    .header__text{
        font-size: 14px;

    }
    .title{
        font-size: 24px;
        line-height: 36px;
    }
    .header__date-text{
        font-size: 14px;
    }
    .strong__title{
        margin-bottom: 10px;
        font-size: 29px;
        line-height: 36px;
    }
    #number-2{
        transform: translate(92px, 287px);
    }
    #number-3{
        z-index: 3;
        transform: translate(92px, 560px);
    }
    #number-4{
        z-index: 2;
        transform: translate(92px, 805px);
    }
    
    #number-5{
        z-index: 1;
        transform: translate(92px, 1096px);
    }
}
